:root {
  --headerbg: white;
  --lilac: #fdd7fb;
  --purple: #4b2c5e;
  --presentSize: 500px;
  --fontSize: 5rem;
  --shadowSize: 50px;
  --logoWidth: 200px;
  --logoAproxim: 0.08;
  --circle1: #D09CF4;
  --circle2: #CDDD74;
}

* {
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Inter, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(var(--lilac), var(--purple));
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

logo{
    margin: 0 10px;
    display: flex;
    position: absolute;
    top: 0;
    width: var(--logoWidth);
    height: 100%;
}

logo::after, logo::before{
    content: "";
    position: absolute;
    align-self: center;
    justify-self: center;
    width: calc(var(--logoWidth) * 0.5);
    height: calc(var(--logoWidth) * 0.5);
    border-radius: 50%;
}

logo::after{
    right: calc(var(--logoWidth) * var(--logoAproxim));
    background-color: var(--circle1);
    box-shadow: 0 0 0 calc(var(--logoWidth) * 0.03) var(--circle2),
    0 0 0 calc(var(--logoWidth) * 0.06) var(--headerbg);

}

logo::before{
    left: calc(var(--logoWidth) * var(--logoAproxim));
    background-color: var(--circle2);
    box-shadow: 0 0 0 calc(var(--logoWidth) * 0.03) var(--circle1);
}

logo:hover::after, logo:hover::before{
    cursor: pointer;
}

header {
    z-index: 100;
    position: sticky;
    top: 0;
    background: var(--headerbg);
    color: var(--purple);
    text-align: center;
    align-content: center;
    min-height: 100px;
    padding: 0;
}

header::after {
    content: "";
    position: absolute;
    bottom: calc(var(--shadowSize)* -1);
    left: 0;
    width: 100%;
    height: var(--shadowSize);
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.8), transparent);
    pointer-events: none;
    z-index: -1;
}

header p{
    margin: clamp(20px, 3vw, 100px) calc(var(--logoWidth) + 10px);
    font-size: var(--fontSize);
    line-height: 1.2;
    animation: Descend 1.5s ease-in;
}

ul {
    margin-top: calc(var(--shadowSize)*1.2);
    display: grid;
    list-style: none;
    padding: 0;
    grid-template-columns: repeat(3, minmax(var(--presentSize), calc(var(--presentSize) * 2)));
    align-self: center;
    justify-items: center;
    gap: 10px;
    row-gap: 60px;
}

.present{
    position: relative;
    flex-shrink: 0;
    text-align: center;
    height: min(var(--presentSize), 45vh);
    width: min(var(--presentSize), 45vh);
    /* compactability reasons */
    height: min(var(--presentSize), 45dvh);
    width: min(var(--presentSize), 45dvh);
    background-color: #f9ffa5;
    border-radius: 6.25%;
    margin: 15px;
    padding: 0;
    font-size: 1em;
    box-shadow: 0 0 calc(min(var(--presentSize), 45vh) * 0.1) 20px rgba(255, 215, 0, 0.85);
    box-shadow: 0 0 calc(min(var(--presentSize), 45dvh) * 0.1) 20px rgba(255, 215, 0, 0.85);
    overflow: hidden;
    user-select: none;
}

.present img{
    border-radius: 6.25%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s cubic-bezier(.6,-0.65,.12,.9);
}

.present:hover img{
    transform: scale(1.5);
}

.title{
    align-self: flex-end;
    color: var(--headerbg);
    font-size: calc(var(--fontSize) * 0.5);
    margin: 0;
    min-width: 100%;
    background-color: #000000a8;
    border-radius: 0 0 6.25% 6.25%;
    padding: 10px 0 10px 0;
    z-index: 2;
    position: absolute;
    bottom: 0;
}

.present .description{
    margin: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
    font-size: calc(min(var(--presentSize), 45vh) * 0.05);
    font-size: calc(min(var(--presentSize), 45dvh) * 0.05);
    text-align: start;
    border-radius: 6.25% 6.25% 0 0;
    height: 100%;
    width: 100%;
    color: white;
    padding: 5% 6% 5% 6%;
    transition: opacity 0.7s ease-in-out;
    opacity: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.present:hover .description{
    opacity: 1;
}

footer{
    display: block;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    padding-right: 20px;
    text-align: right;
    color: black;
    font-size: 1.5rem;
    background: var(--headerbg);
}

/* Animations */
@keyframes Descend {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Responsive design */

/* grid */
@media (max-width: 1900px) and (min-width: 1501px) {
    :root {
        --presentSize: 400px;
    }
}

/* Tablet */
@media (min-width: 1101px) and (max-width: 1500px) {
    ul {
        grid-template-columns: repeat(2, minmax(var(--presentSize), calc(var(--presentSize) * 2)));
    }
    :root {
        --fontSize: 3.5rem;
        --presentSize: 400px;   
        --logoWidth: 175px;
    }
    .present {
        height: min(var(--presentSize), 35vw);
        width: min(var(--presentSize), 35vw);
        box-shadow: 0 0 calc(min(var(--presentSize), 35vw) * 0.1) 20px rgba(255, 215, 0, 0.85);
    }
    .present .description{
        font-size: calc(min(var(--presentSize), 35vw) * 0.05);
    }
}

/* Mobile */
@media (max-width: 1100px) and (min-width: 901px) {
    ul {
        grid-template-columns: repeat(1, minmax(var(--presentSize), 60vw));
    }
    :root {
        --logoWidth: 150px;
        --fontSize: 4rem;
        --presentSize: 250px;
    }
    .present {
        height: max(var(--presentSize), 60vw);
        width: max(var(--presentSize), 60vw);
        box-shadow: 0 0 calc(max(var(--presentSize), 60vw) * 0.1) 20px rgba(255, 215, 0, 0.85);
    }
    .present .description{
        font-size: calc(max(var(--presentSize), 60vw) * 0.05);
    }
}

/* Mobile XS */
@media (max-width: 900px) and (min-width: 571px) {
    ul {
        grid-template-columns: repeat(1, minmax(var(--presentSize), 60vw));
    }
    :root {
        --logoWidth: 100px;
        --fontSize: 3rem;
        --presentSize: 200px;
    }
    .present {
        height: max(var(--presentSize), 60vw);
        width: max(var(--presentSize), 60vw);
        box-shadow: 0 0 calc(max(var(--presentSize), 60vw) * 0.1) 20px rgba(255, 215, 0, 0.85);
    }
    .present .description{
        font-size: calc(max(var(--presentSize), 60vw) * 0.05);
    }
}
/* Mobile XXS */
@media (max-width: 570px) {
    ul {
        grid-template-columns: repeat(1, minmax(var(--presentSize), 60vw));
    }
    :root {
        --logoWidth: 50px;
        --fontSize: 1.5rem;
        --presentSize: 200px;
    }
    .present {
        height: max(var(--presentSize), 60vw);
        width: max(var(--presentSize), 60vw);
        box-shadow: 0 0 calc(max(var(--presentSize), 60vw) * 0.1) 10px rgba(255, 215, 0, 0.85);
    }
    .present .description{
        font-size: calc(max(var(--presentSize), 60vw) * 0.05);
    }
}