/* TODO: Responsive Design */
/* TODO: Responsive Design */
/* TODO: Responsive Design */
/* TODO: Responsive Design */

:root {
  --headerbg: white;
  --lilac: #fdd7fb;
  --purple: #4b2c5e;
  --presentSize: 500px;
  --fontSize: 80px;
  --shadowSize: 60px;
  --logoWidth: 200px;
  --logoAproxim: 0.08;
  --circle1: #D09CF4;
  --circle2: #CDDD74;
}

* {
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Inter, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(var(--lilac), var(--purple));
    z-index: 1;
}

logo{
    margin: 0 10px;
    display: flex;
    position: absolute;
    width: var(--logoWidth);
    height: 100%;
}

logo{
    margin: 0 10px;
    display: flex;
    position: absolute;
    width: var(--logoWidth);
    height: 100%;
}

logo::after, logo::before{
    content: "";
    position: absolute;
    align-self: center;
    justify-self: center;
    width: calc(var(--logoWidth) * 0.5);
    height: calc(var(--logoWidth) * 0.5);
    border-radius: 50%;
}

logo::after{
    right: calc(var(--logoWidth) * var(--logoAproxim));
    background-color: var(--circle1);
    box-shadow: 0 0 0 calc(var(--logoWidth) * 0.03) var(--circle2),
    0 0 0 calc(var(--logoWidth) * 0.06) var(--headerbg);

}

logo::before{
    left: calc(var(--logoWidth) * var(--logoAproxim));
    background-color: var(--circle2);
    box-shadow: 0 0 0 calc(var(--logoWidth) * 0.03) var(--circle1);
}

logo:hover::after, logo:hover::before{
    cursor: pointer;
}

header {
    z-index: 100;
    position: sticky;
    top: 0;
    background: var(--headerbg);
    color: var(--purple);
    text-align: center;
    align-content: center;
    min-height: 100px;
    padding: 0;
}

header::after {
    content: "";
    position: absolute;
    bottom: calc(var(--shadowSize)* -1);
    left: 0;
    width: 100%;
    height: var(--shadowSize);
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.8), transparent);
    pointer-events: none;
    z-index: -1;
}

header p{
    margin: 40px;
    font-size: var(--fontSize);
    line-height: 1.2;
    animation: Descend 1s cubic-bezier(0,0.4,0,1);
}

ul {
    margin-top: var(--shadowSize);
    display: grid;
    list-style: none;
    padding: 0;
    grid-template-columns: repeat(3, minmax(var(--presentSize), calc(var(--presentSize) * 2)));
    align-self: center;
    justify-items: center;
    gap: 10px;
    row-gap: 60px;
}

.present{
    position: relative;
    flex-shrink: 0;
    text-align: center;
    height: var(--presentSize);
    width: var(--presentSize);
    background-color: #f9ffa5;
    border-radius: 25px;
    margin: 15px;
    padding: 0;
    font-size: 1em;
    box-shadow: 0 0  calc(var(--presentSize) * 0.1) 20px rgba(255, 215, 0, 0.85);
    overflow: hidden;
}

.present img{
    border-radius: 25px;
    width: var(--presentSize);
    height: var(--presentSize);
    object-fit: cover;
    transition: transform 0.5s cubic-bezier(.6,-0.65,.12,.9);
}

.present:hover img{
    transform: scale(1.5);
}

.title{
    align-self: flex-end;
    color: var(--headerbg);
    font-size: calc(var(--fontSize) * 0.5);
    margin: 0;
    min-width: var(--presentSize);
    background-color: #000000a8;
    border-radius: 0 0 25px 25px;
    padding: 10px 0 10px 0;
    z-index: 2;
    position: absolute;
    bottom: 0;
}

.present .description{
    margin: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
    font-size: calc(var(--fontSize) * 0.3);
    text-align: start;
    border-radius: 25px 25px 0 0;
    height: 100%;
    color: white;
    padding: 15px 25px 15px 25px;
    max-width: var(--presentSize);
    transition: opacity 0.7s ease-in-out;
    opacity: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.present:hover .description{
    opacity: 1;
}

footer{
    display: block;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-right: 20px;
    text-align: right;
    color: black;
}

/* Animations */
@keyframes Descend {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}