:root {
    --headerbg: white;
    --lilac: #fdd7fb;
    --purple: #4b2c5e;
    --presentSize: min(500px, 45vh);
    --presentSize: min(500px, 45dvh);
    --fontSize: 4rem;
    --shadowSize: 30px;
    --logoWidth: 150px;
    --logoAproxim: 0.08;
    --circle1: #D09CF4;
    --circle2: #CDDD74;
    --gap: 7vw;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: Inter, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(var(--lilac), var(--purple));
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: url(images/cursor.png), auto;
}

a,
button,
.clicavel {
    cursor: url(images/pointer.png), auto;
}

.heart {
    position: absolute;
    animation: fall linear forwards;
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

logo {
    margin: 0 10px;
    display: flex;
    position: absolute;
    top: 0;
    width: var(--logoWidth);
    height: 100%;
}

logo::after,
logo::before {
    content: "";
    position: absolute;
    align-self: center;
    justify-self: center;
    width: calc(var(--logoWidth) * 0.5);
    height: calc(var(--logoWidth) * 0.5);
    border-radius: 50%;
}

logo::after {
    right: calc(var(--logoWidth) * var(--logoAproxim));
    background-color: var(--circle1);
    box-shadow: 0 0 0 calc(var(--logoWidth) * 0.03) var(--circle2),
        0 0 0 calc(var(--logoWidth) * 0.06) var(--headerbg);

}

logo::before {
    left: calc(var(--logoWidth) * var(--logoAproxim));
    background-color: var(--circle2);
    box-shadow: 0 0 0 calc(var(--logoWidth) * 0.03) var(--circle1);
}

logo:hover::after,
logo:hover::before {
    cursor: url(images/pointer.png), auto;
}

header {
    z-index: 100;
    position: sticky;
    top: 0;
    background: var(--headerbg);
    color: var(--purple);
    text-align: center;
    align-content: center;
    min-height: 70px;
    padding: 0;
}

header::after {
    content: "";
    position: absolute;
    bottom: calc(var(--shadowSize)* -1);
    left: 0;
    width: 100%;
    height: var(--shadowSize);
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.8), transparent);
    pointer-events: none;
    z-index: -1;
}

header p {
    margin: clamp(10px, 3vw, 100px) calc(var(--logoWidth) + 10px);
    font-size: var(--fontSize);
    line-height: 1.2;
    animation: Descend 1.5s ease-in;
    cursor: pointer;
}


ul {
    margin-top: calc(var(--shadowSize)*1.2);
    display: grid;
    list-style: none;
    padding: 0;
    grid-template-columns: repeat(3, var(--presentSize));
    align-self: center;
    justify-items: center;
    gap: var(--gap);
    row-gap: min(5vw, 60px);
}

.present {
    position: relative;
    flex-shrink: 0;
    text-align: center;
    height: var(--presentSize);
    width: var(--presentSize);
    background-color: #f9ffa5;
    border-radius: 6.25%;
    margin: 15px;
    padding: 0;
    font-size: 1em;
    box-shadow: 0 0 calc(var(--presentSize) * 0.1) clamp(5px, 0.2vw, 15px) rgba(255, 215, 0, 0.85);
    overflow: hidden;
    user-select: none;
    transform: translateY(50%);
    opacity: 0;
    transition: box-shadow 0.3s ease-in-out;
    animation: appear 0.5s ease-out forwards;
}

.present img {
    border-radius: 6.25%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s cubic-bezier(.6, -0.65, .12, .9);
}

.present:hover img {
    transform: scale(1.5);
}

.title {
    align-self: flex-end;
    color: var(--headerbg);
    font-size: calc(var(--fontSize) * 0.5);
    margin: 0;
    min-width: 100%;
    background-color: #000000a8;
    border-radius: 0 0 6.25% 6.25%;
    padding: 10px 0 10px 0;
    z-index: 2;
    position: absolute;
    bottom: 0;
}

.present .description {
    margin: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));
    font-size: calc(var(--presentSize) * 0.05);
    text-align: start;
    border-radius: 6.25% 6.25% 0 0;
    height: 100%;
    width: 100%;
    color: white;
    padding: 5% 6% 5% 6%;
    transition: opacity 0.7s ease-in-out;
    opacity: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.present:hover .description {
    opacity: 1;
}

footer {
    display: block;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: max(5px, 1vw);
    text-align: right;
    color: black;
    font-size: max(calc(var(--fontSize) * 0.3), 15px);
    background: var(--headerbg);
    min-height: 300px;
}

/* Animations */
@keyframes Descend {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes appear {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(var(--pageHeight)) rotate(720deg);
    }
}

/* Responsive design */

/* 4K */
@media (min-width: 1901px) {
    :root {
        --presentSize: clamp(400px, 45vh, 500px);
        --presentSize: clamp(400px, 45dvh, 500px);
        --fontSize: 5.2rem;
        --logoWidth: 225px;
        --shadowSize: 80px;
    }
}

/* Laptops and PCs */
@media (max-width: 1900px) and (min-width: 1101px) {
    :root {
        --presentSize: clamp(200px, 40vh, 300px);
    }

    .present {
        box-shadow: 0 0 calc(var(--presentSize) * 0.1) 10px rgba(255, 215, 0, 0.85);
    }
}

/* Tablet */
@media (max-width: 1100px) and (min-width: 901px) {
    ul {
        grid-template-columns: repeat(3, var(--presentSize));
    }

    :root {
        --fontSize: 3.5rem;
        --presentSize: min(300px, 25vw);
        --logoWidth: 150px;
    }

    .present {
        height: var(--presentSize);
        width: var(--presentSize);
        box-shadow: 0 0 calc(var(--presentSize) * 0.1) 7px rgba(255, 215, 0, 0.85);
    }

    .present .description {
        font-size: calc(var(--presentSize) * 0.05);
    }
}

/* Tablet */
@media (max-width: 900px) and (min-width: 501px) {
    ul {
        grid-template-columns: repeat(2, minmax(var(--presentSize), 60vw));
    }

    :root {
        --logoWidth: 100px;
        --fontSize: 7vw;
        --presentSize: max(200px, 35vw);
        --gap: 0;
    }

    .present {
        height: var(--presentSize);
        width: var(--presentSize);
        box-shadow: 0 0 calc(var(--presentSize) * 0.1) 10px rgba(255, 215, 0, 0.85);
    }

    .present .description {
        font-size: calc(var(--presentSize) * 0.05);
    }
}

/* Mobile S */
@media (max-width: 500px) and (min-width: 401px) {
    ul {
        grid-template-columns: repeat(1, minmax(var(--presentSize), 60vw));
    }

    :root {
        --logoWidth: 75px;
        --fontSize: 2.2rem;
        --presentSize: max(200px, 70vw);
    }

    .present {
        height: var(--presentSize);
        width: var(--presentSize);
        box-shadow: 0 0 calc(var(--presentSize) * 0.1) 7px rgba(255, 215, 0, 0.85);
    }

    .present .description {
        font-size: calc(var(--presentSize) * 0.05);
    }
}

/* Mobile XS */
@media (max-width: 400px) {
    ul {
        grid-template-columns: repeat(1, minmax(var(--presentSize), 60vw));
    }

    :root {
        --logoWidth: 60px;
        --fontSize: 7vw;
        --presentSize: max(200px, 60vw);
    }

    .present {
        height: var(--presentSize);
        width: var(--presentSize);
        box-shadow: 0 0 calc(var(--presentSize) * 0.1) 5px rgba(255, 215, 0, 0.85);
    }

    .present .description {
        font-size: calc(var(--presentSize) * 0.05);
    }
}